nav a {
	color: white;
	padding: 0.4rem 0.6rem;
	text-decoration: none;
}

nav a.active {
	color: palevioletred;
	font-weight: bolder;
}

.dropdown a {
	color: black;
	display: block;
}

.dropdown div {
	width: 230px;
}

#cards {
	gap: 1rem;
}

.img-wrapper {
	height: 200px;
	overflow: hidden;
}

#descriptione.card-text {
	height: 120px;
}
